absl-py==1.4.0
alembic==1.9.4
anyascii==0.3.1
appdirs==1.4.4
astunparse==1.6.3
async-generator==1.10
attrs==22.2.0
Authlib==1.2.1
beautifulsoup4==4.11.1
bleach==6.0.0
blis==0.7.9
brotlipy==0.7.0
bs4==0.0.1
cachetools==5.3.0
catalogue==2.0.8
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_477u68wvzm/croot/certifi_1671487773341/work/certifi
certipy==0.1.3
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/croot-2p6q7e2r/cffi_1642701115063/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.3
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
conda==23.1.0
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///opt/concourse/worker/volumes/live/0cf65687-72c2-4e51-5322-1b3a8c3aa6f5/volume/conda-package-handling_1649105815927/work
confection==0.0.4
contourpy==1.0.7
contractions==0.1.73
cors==1.0.1
cryptography @ file:///opt/concourse/worker/volumes/live/a9ca20dd-e1fe-4ed3-754e-0db64082a5d2/volume/cryptography_1639414576087/work
cycler==0.11.0
cymem==2.0.7
defusedxml==0.7.1
docopt==0.6.2
fastjsonschema==2.16.3
filelock==3.9.0
Flask==2.2.2
Flask-Cors==3.0.10
flatbuffers==23.1.21
fonttools==4.38.0
fst-pso==1.8.1
future==0.18.3
FuzzyTM==2.0.5
gast==0.4.0
gensim==4.3.0
geolib==1.0.7
gevent==22.10.2
google-auth==2.16.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.51.3
h5py==3.8.0
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata==6.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter-telemetry==0.1.0
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyterhub==3.1.1
jupyterlab-pygments==0.2.2
keras==2.11.0
kiwisolver==1.4.4
langcodes==3.3.0
libclang==15.0.6.1
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.6.3
miniful==0.0.6
mistune==2.0.5
mpmath==1.3.0
murmurhash==1.0.9
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.7.3
networkx==3.0
nltk==3.8.1
notebook-as-pdf==0.5.0
numpy==1.24.2
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.0
pamela==1.0.0
pandas==1.5.3
pandocfilters==1.5.0
pathy==0.10.1
Pillow==9.4.0
pipreqs==0.4.13
platformdirs==3.0.0
pluggy @ file:///opt/concourse/worker/volumes/live/42ef51ae-f79c-40e0-6d26-eb6fe9d8ba6e/volume/pluggy_1648042596777/work
preshed==3.0.8
prettytable==3.8.0
prometheus-client==0.16.0
protobuf==3.19.6
pyahocorasick==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.7
pyee==8.2.2
pyFUME==0.2.25
Pygments==2.14.0
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
PyPDF2==3.0.1
pyppeteer==1.0.2
pyrsistent==0.19.3
PySocks @ file:///opt/concourse/worker/volumes/live/112288ac-9cb0-4e73-768b-13baf4ca6419/volume/pysocks_1605305820043/work
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2022.7.1
pyzmq==25.0.0
regex==2022.10.31
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
rsa==4.9
ruamel-yaml-conda @ file:///opt/concourse/worker/volumes/live/e81cf0fe-611a-498e-6e69-a7320057c1ac/volume/ruamel_yaml_1616016689696/work
ruamel.yaml @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_7de1zqcaou/croot/ruamel.yaml_1666304553877/work
ruamel.yaml.clib @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_c7s0zxy4t2/croot/ruamel.yaml.clib_1666302244557/work
scikit-learn==1.2.1
scikit-multilearn==0.2.0
scipy==1.10.0
simpful==2.10.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0.post2
smart-open==6.3.0
soupsieve==2.3.2.post1
spacy==3.5.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==2.0.4
srsly==2.4.6
sympy==1.11.1
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.30.0
termcolor==2.2.0
textsearch==0.0.24
thinc==8.1.9
threadpoolctl==3.1.0
tinycss2==1.2.1
tldextract==3.4.0
toolz @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_a7gkswah88/croot/toolz_1667464082910/work
torch==2.0.0
torchvision==0.15.1
tornado==6.2
tqdm @ file:///opt/conda/conda-bld/tqdm_1647339053476/work
traitlets==5.9.0
typer==0.7.0
typing_extensions==4.5.0
urllib3 @ file:///opt/conda/conda-bld/urllib3_1643638302206/work
validators==0.22.0
wasabi==1.1.1
wcwidth==0.2.6
weaviate-client==3.25.3
webencodings==0.5.1
websockets==10.4
Werkzeug==2.2.2
wrapt==1.14.1
xgboost==2.0.0
yarg==0.1.9
zipp==3.13.0
zope.event==4.6
zope.interface==5.5.2
